<!DOCTYPE html>
<html>
<head>
</head>
	<body>
		<div id="header"> 
			<h1> Hello </h1>
			<img style = "height: 320px; width: 480 "src = "https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/26231678_931472530343561_3725891288923663213_n.jpg?_nc_cat=104&oh=4c5f0771b40337e99c7b3e6245ffc373&oe=5C48896D"> </img>
		</div>
		<table>
			<tr>
				<td>Location</td>
				<td>Hunger</td>
				<td>Mood</td>
				<td>Event</td>
			</tr>
			<tr>
				<td>{{Location}}</td>
				<td>{{hunger}}</td>
				<td>{{Mood}}</td>
				<td>{{EventName}}</td>
			</tr>
		<table>
	</body>
</html>	